@CHARSET "UTF-8";

body {
    margin: 0;
}

iframe{
    width: 100%;
    height: 1000px;
}

.iframe-wrapper {
    overflow: hidden;  
    -webkit-overflow-scrolling: touch; 
    width:100%;
    height: 1020px;
    padding: 0 0 20px 0;   
}

.next-section {
    font-size: 8vh;
    color: white;
    width: 100%;
    text-align: center;
}

.hero {
    background-image: url('/images/intro_background.jpg');
    background-position: center center;
    background-size: cover;
}

.hero .intro {
    height: 80vh;
    padding: 0 25px;
}

.hero .intro h1,
.hero .intro h5 {
    font-family: 'Coming Soon', cursive;
    margin: 0;
    font-weight: normal;
    text-shadow: none;
}

.hero .intro h1 {
    font-size: 80px;
}

.hero .intro h5 {
    font-size: 30px;
}

h2 {
    font-family: 'Coming Soon', cursive;
    font-size: 40px;
    color: #afafaf;
}

.story {
    background-color: #afafaf;
    color: #040404;
    padding: 25px;
    border-radius: 15px;
    margin: 25px 0 0 0;
}
.story:first-child{
    margin: 0;
}

.story p:last-child{
    margin: 0;
}

.item-slider .bx-wrapper img {
    border-radius: 15px;
    max-height: 60vh;
    width: auto;
    margin: 0 auto;
}

.item-slider .bx-wrapper .bx-pager.bx-default-pager a {
    background-color: #dfdfdf;
}
.item-slider .bx-wrapper .bx-pager.bx-default-pager a.active {
    background-color: #F26F70;
}

.table.row{
    display: table;
}

.table.row .cell {
    display: table-cell;
    vertical-align: middle;
    float: none;
}

#fp-nav ul li a span,
#fp-nav ul li a.active span {
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
}

#fp-nav ul li a.active span {
    background-color: #F26F70;
}

.timeline {
    border: solid #F26F70;
    border-width: 0 0 0 5px;
    display: table;
}

.timeline .row {
    margin: 0;
    display: table-row;
}

.timeline .bar {
    background-color: #F26F70;
    min-width: 15px;
    width: 100%;
    height: 2px;
}

.timeline .event {
    margin: 10px 0;
    border: 1px solid #dfdfdf;
    border-radius: 15px;
    padding: 15px;
    background-color: #f4f4f4;
    float: left;
}

.timeline .event .time {
    float: left;
}

.timeline .event h3 {
    margin: 0 0 10px 80px;
    line-height: 24px;
}

.timeline .event .day {
    font-size: 28px;
    color: #606060;
}

.timeline .event .description {
    max-width: 450px;
    margin: 0 0 0 80px;
}

p a {
    color: #f93637;
    text-decoration: underline;
}

p a:hover {
    color: #F26F70;
    text-decoration: underline;
}

.registry-item-spacer {
    width: 20px;
}

.registry-item {
    display: block;
    background-color: white;
    margin: 30px;
    height: 50%;
    width: 35%;
}

/*****
 *  Tablet
 */
@media only screen
  and (max-width: 970px){

    .hero .intro h1 {
        font-size: 60px;
    }
    
    .table.row {
        display:block;
    }
    
    .table.row .cell {
        display: block;
        padding-bottom: 25px;
    }
    
    .timeline .table.row{
        display: table;
    }

    .timeline .table.row .cell {
        display: table-cell;
    }

    .iframe-wrapper {
        height: 60vh;
    }
}


/*****
 *  PHONE
 */
@media only screen 
  and (max-width: 736px)
  and (orientation: portrait) { 


    .hero .intro h1 {
        font-size: 8vw;
    }
    
    .hero .intro h5 {
        font-size: 5vw;
    }
}

@media only screen 
  and (max-width: 736px)
  and (orientation: landscape) { 


    .hero .intro h1 {
        font-size: 5vw;
    }
    
    .hero .intro h5 {
        font-size: 3vw;
    }
}